# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment directories
venv/
env/

# PyCharm project files
.idea/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

input-dir/
output-dir/